body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.gallery_title {
  max-width: 960px;
  margin: 0 auto;
  padding: 2rem 1rem;
}

.gallery_container {
  display: grid;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 1rem;
  gap: 3rem;
  grid-template-columns: repeat(5, 1fr);
}
.gallery_container__item {
  border-radius: 10px;
  -webkit-box-shadow: 0 0 5px grey;
          box-shadow: 0 0 5px grey;
}
.gallery_container__item__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #6ba3d9;
  border-radius: 10px 10px 0 0;
}
.gallery_container__item__image img {
  width: 100%;
}
.gallery_container__item__caption p {
  margin: 0;
  padding: 0.5rem 0;
  text-align: center;
}

.article {
  max-width: 960px;
  margin: 0 auto;
  padding: 2rem 1rem;
}

@media screen and (max-width: 768px) {
  .gallery_container {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 414px) {
  .gallery_title {
    text-align: center;
  }
  .gallery_container {
    grid-template-columns: 1fr;
  }
}