$image-background: #6ba3d9;
$page-width: 960px;
$center-section: 0 auto;

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.gallery_title {
  max-width: $page-width;
  margin: $center-section;
  padding: 2rem 1rem;
}

.gallery_container {
  display: grid;
  max-width: $page-width;
  margin: $center-section;
  padding: 0 1rem;
  gap: 3rem;
  grid-template-columns: repeat(5, 1fr);

  &__item {
    border-radius: 10px;
    box-shadow: 0 0 5px grey;

    &__image {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $image-background;
      border-radius: 10px 10px 0 0;

      img {
        width: 100%;
      }
    }

    &__caption {
      p {
        margin: 0;
        padding: 0.5rem 0;
        text-align: center;
      }
    }
  }
}

.article {
  max-width: $page-width;
  margin: $center-section;
  padding: 2rem 1rem;
}

@media screen and (max-width: 768px) {
  .gallery_container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 414px) {
  .gallery_title {
    text-align: center;
  }

  .gallery_container {
    grid-template-columns: 1fr;
  }
}
